/* More clear title contrast (all) */
.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
    font-weight: 700;
    padding-bottom: .1rem;
    border-bottom: 2px solid rgba(0, 0, 0, .6);
}

/* More clear title contrast (dark) */
[data-md-color-scheme="slate"] .md-typeset h1,
[data-md-color-scheme="slate"] .md-typeset h2,
[data-md-color-scheme="slate"] .md-typeset h3,
[data-md-color-scheme="slate"] .md-typeset h4,
[data-md-color-scheme="slate"] .md-typeset h5,
[data-md-color-scheme="slate"] .md-typeset h6 {
    color: #ccc;
    padding-bottom: .1rem;
    border-bottom: 2px solid rgba(255, 255, 255, .3);
}

[data-md-color-scheme="slate"] .md-typeset h2 {
    margin-left: 1em;
}

[data-md-color-scheme="slate"] .md-typeset h3 {
    margin-left: 2em;
}

[data-md-color-scheme="slate"] .md-typeset h4 {
    margin-left: 3em;
}

[data-md-color-scheme="slate"] .md-typeset h5 {
    margin-left: 4em;
}

[data-md-color-scheme="slate"] .md-typeset h6 {
    margin-left: 5em;
}

/* Logo images (200x200) */
.logo {
    text-align: center;
}

.logo img {
    max-width: 200px;
    width: 100%;
    height: auto;
    display: inline-block;
}

/* Justify regular page text */
.md-typeset p,
.md-typeset li {
    text-align: justify;
}